body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #1F2937;
}

button {
  padding: 2px 28px;
  font-weight: 600;
  color: #F9FAF8;
  background-color: #3882F6;
  border-radius: 6px;
}

.hero,
.information,
.quote,
.call-to-action,
.footer {
  padding: 0 28%;
}

/* Hero section styles */
/* .hero { */
/* padding: 0 26%; */
/* background-color: #1F2937; */
/* } */

/* Header section styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.logo-text {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
  text-transform: uppercase;
}

.list {
  display: flex;
  padding-left: 34px;
  gap: 34px;
}

.link-text,
.secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

/* Content section styles */
.content {
  display: flex;
  margin: 8% 0;
  gap: 20px;
}

.left-content {
  flex: 1;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero__button {
  margin-top: 16px;
}

.right-content {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.hero-image img {
  flex-shrink: 0;
  max-width: 440px;
}

/* Information section styles */
.information {
  padding-bottom: 114px;
  text-align: center;
  background-color: #F9FAF8;
}

.heading-text {
  margin: 44px 0;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.information-container {
  display: flex;
  justify-content: center;
  gap: 38px;
}

.information-item {
  max-width: 150px;
  color: #1f293797;
}

.information-icon img {
  margin: auto;
  width: 142px;
  height: 142px;
  border: 4px solid #3882F6;
  border-radius: 16px;
}

.information-subtext {
  margin-top: 6px;
  font-size: 18px;
}

/* Quote section styles */

/* Call to action section styles */

/* Footer section styles */






/* .quote {
  text-align: center;
  padding: 20px 10%;
} */

/* .footer { */
/* Press the footer to the bottom of the page */
/* margin-top: auto; */
/* flex-shrink: 0; */
/* padding: 20px 20%;
  text-align: center;
  color: #E5E7EB;
  background-color: #1F2937;
} */



/* .hero-icon {
  flex-shrink: 0;
  max-width: 300px;
} */

/* 
.information,
.quote,
.call-to-action {
  padding: 0 20%;
}

.call-to-action {
  flex: 1;
} */
/* 
.footer {
  padding: 1% 20%;
  text-align: center;
  color: #E5E7EB;
  background-color: #1F2937;
} */



/* body {
  min-height: 100vh;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

/* button {
  padding: 2px 28px;
  font-weight: 600;
  color: #F9FAF8;
  background-color: #3882F6;
  border-radius: 6px;
} */

/* .main {
  display: flex;
  flex-direction: column;
} */

/* .hero__header {
  border: 2px solid red;
} */

/* .hero__header-menu {
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
} */

/* .hero__content { */
/* margin: 90px 0; */
/* 
  border: 2px dotted violet;
} */

/* .hero__header-menu {
  display: flex;
} */

/* .hero__header {
  display: flex;
  gap: 20px;

  border: 2px dotted darkorange;
} */

/* .hero__logo { */
/* flex: 1; */
/* border: 2px dotted green;
} */

/* .hero__nav {
  border: 2px dotted violet;
} */

/* .hero__logo-text { */
/* font-size: 24px; */
/* color: #F9FAF8; */
/* font-weight: 900; */
/* } */

/* .hero__list {
  display: flex;
  gap: 36px;
} */

/* .hero__main-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
} */

/* .hero__link-text,
.hero__secondary-text {
  font-size: 18px;
  color: #E5E7EB;
} */

/* .information {
  flex: 1;
} */

/* .information__heading-text {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
} */

/* .quote {
  background-color: #E5E7EB;
} */

/* .quote__text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
} */

/* .quote__author {
  font-weight: 800;
  color: #1F2937;
} */

/* .call-to-action {
  background-color: #3882F6;
} */

/* .call-to-action__button {
  border: 2px solid #F9FAF8;
} */

/* .footer {
  padding: 22px 0;
  color: #E5E7EB;
} */