body {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hero,
.footer {
  background-color: #1F2937;
}

.hero__logo-text {
  font-size: 24px;
  color: #F9FAF8;
  /* font-weight: 900; */
}

.hero__main-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero__link-text,
.hero__secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.hero__button,
.call-to-action {
  background-color: #3882F6;
}

.information__heading-text {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.quote {
  background-color: #E5E7EB;
}

.quote__text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
}